---
interface Tech {
    name: string;
    
}

const tech: Tech[] = [
    {
        name: ''
    }
]
---




<div class="container relative z-40 mx-auto mt-12">

    <div class="flex flex-wrap justify-center mx-auto lg:w-full md:w-5/6 xl:shadow-small-blue">

        <a href="#" class="block w-1/2 py-10 text-center border lg:w-1/4">
            <div>
                <img src="https://redpixelthemes.com/assets/images/icon-portfolio-green.svg" class="block mx-auto">

                <p class="pt-4 text-sm font-medium capitalize font-body text-green-900 lg:text-lg md:text-base md:pt-6">
                    portfolio
                </p>
            </div>
        </a>

        
    </div>

</div>